<h1 class="page-header">About</h1>

<div class="about-text">
    <div>
        Working as a freelancer it is often needed to quickly set up a basic project
        with general functionality and then implement custom business logic.
    </div>
    <div>
        Although there are some brilliant samples in <a class="bluelink">Silhouette example page</a> I couldn't
        find the one that fits me best. <a class="bluelink" routerlink="/">See the details of this project</a>.
    </div>
    <div>
        The idea of this project is to have yet another PlayFramework(Scala)/Angular bootstrap project
    </div>
</div>