<a [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active" class="nav-button" mat-button>Features</a>
<a routerLink="/todo" routerLinkActive="active" class="nav-button" mat-button>Todo</a>
<a routerLink="/changelog" routerLinkActive="active" class="nav-button" mat-button>Changelog</a>
<a routerLink="/about" routerLinkActive="active" class="nav-button" mat-button>About</a>
<a target="_blank" href="https://github.com/SunPj/silhouette-vuejs-app" class="nav-button" mat-button>Github</a>