<h1 class="page-header">Changelog</h1>

<div class="changelog-list">
    <div class="changelog-item">
        <div class="date">1/31/20</div>
        <div class="description">User can link multiple sources (credentials, social providers) to his account</div>
    </div>
    <div class="changelog-item">
        <div class="date">1/31/20</div>
        <div class="description">User can link multiple sources (credentials, social providers) to his account</div>
    </div>
    <div class="changelog-item">
        <div class="date">1/31/20</div>
        <div class="description">User can link multiple sources (credentials, social providers) to his account</div>
    </div>
    <div class="changelog-item">
        <div class="date">1/31/20</div>
        <div class="description">User can link multiple sources (credentials, social providers) to his account</div>
    </div>
    <div class="changelog-item">
        <div class="date">1/31/20</div>
        <div class="description">User can link multiple sources (credentials, social providers) to his account</div>
    </div>
    <div class="changelog-item">
        <div class="date">1/31/20</div>
        <div class="description">User can link multiple sources (credentials, social providers) to his account</div>
    </div>
</div>